<h3>{{'EXERCISES.EXERCISETITLE' | translate }}: {{exerciseTitle}}</h3>

<div *ngIf="currentLanguage === 'de'">
    <p>Abwechslung ist der Schlüssel zum Glück!</p>
    <p>Wir haben zwei Lieferungen bekommen und müssen den Inhalt abwechselnd auf das Fließband legen. Die <code class="help" [appTooltip]="zipTooltip">zip</code>-Funktion verbindet zwei Observables und gibt die Daten abwechselnd an die pipe-Funktion weiter. Allerdings nicht jede Frucht einzeln, sondern als mehrdimensionales Array. 
        <a href="https://rxjs.dev/api/index/function/zip" target="_blank">(Mehr Infos zu zip)</a>
    </p>
    <p>Der <code class="help" [appTooltip]="concatMapTooltip">concatMap</code>-Operator projiziert das mehrdimensionale Array in ein Observable und gibt die Früchte wieder einzeln zurück. 
        <a href="https://rxjs.dev/api/operators/concatMap" target="_blank">(Mehr Infos zu concatMap)</a>
    </p>
</div>
<div *ngIf="currentLanguage === 'en'">
    <p>Variety is the key to happiness!</p>
    <p>We have received two deliveries and have to alternately put the contents on the conveyor belt. The <code class="help" [appTooltip]="zipTooltip">zip</code> function connects two observables and passes the data on to the pipe function alternately. However, not every fruit individually, but as a multi-dimensional array. 
        <a href="https://rxjs.dev/api/index/function/zip" target="_blank">(Learn more about zip)</a>
    </p>
    <p>The <code class="help" [appTooltip]="concatMapTooltip">concatMap</code> operator projects the multidimensional array into an observable and returns the fruit individually. 
        <a href="https://rxjs.dev/api/operators/concatMap" target="_blank">(Learn more about concatMap)</a>
    </p>
</div>
<div #zipTooltip class="tooltip codeTooltip">
    <pre>
        <code [highlight]="zipCode"></code>
   </pre>
</div>
<div #concatMapTooltip class="tooltip codeTooltip">
    <pre>
        <code [highlight]="concatmapCode"></code>
   </pre>
</div>