<h3>{{'EXERCISES.EXERCISETITLE' | translate }}: {{exerciseTitle}}</h3>

<div *ngIf="currentLanguage === 'de'">
    <p>Jetzt ist es an der Zeit, ein paar Früchte auf das Fließband zu legen!</p>
    <p>Die from-Funktion erzeugt aus einem Array ein Observable. Dieses liefert die Daten nacheinander, wie eine foreach-Schleife.</p>
    <p>Die <code class="help" [appTooltip]="tooltip">subscribe</code>-Funktion erwartet eine Callback-Funktion als Parameter. Diese erhält die Daten vom Observable über die Parameter.</p>
</div>
<div *ngIf="currentLanguage === 'en'">
    <p>Now it's time to put some fruits on the conveyor belt!</p>
    <p>The from function creates an observable from an array. This delivers the data one after the other, like a foreach loop.</p>
    <p>The <code class="help" [appTooltip]="tooltip">subscribe</code> function expects a callback function as a parameter. This receives the data from the observable via the parameters.</p>
</div>
<div *ngIf="currentLanguage === 'zh_CN'">
    <p>现在是时候把一些水果放到传送带上了！</p>
    <p>from 函数从数组创建一个 observable 。这就像 foreach 循环一样，一个接一个地传递数据。</p>
    <p><code class="help" [appTooltip]="tooltip">subscribe</code> 函数需要一个回调函数作为参数，它通过参数从 observable 对象接收数据。</p>
</div>
<div *ngIf="currentLanguage === 'ru'">
  <p>Теперь пришло время положить фрукты на конвейерную ленту!</p>
  <p>Функция from создает наблюдаемое из массива. Это доставляет данные один за другим, как цикл foreach.</p>
  <p>Функция <code class="help" [appTooltip]="tooltip">subscribe</code> ожидает функцию обратного вызова в качестве параметра. Это получает данные от наблюдаемой через параметры.</p>
</div>
<div *ngIf="currentLanguage === 'es'">
  <p>Ahora es tiempo de poner algunas frutas sobre la cinta transportadora!</p>
  <p>La función from crea un observable a partir de una matríz</p>
  <p>La función <code class="help" [appTooltip]="tooltip">subscribe</code> espera una función callback como parámetro. Esta recibe los datos desde el observable vía parámetros.</p>
</div>

<div #tooltip class="tooltip codeTooltip">
    <pre>
        <code [highlight]="subscibeNextCode"></code>
    </pre>
</div>
