<h3>{{'EXERCISES.EXERCISETITLE' | translate }}: {{exerciseTitle}}</h3>

<div *ngIf="currentLanguage === 'de'">
    <p>Eine übermäßige Lieferung!</p>
    <p>Du möchtest einfach nur eine Banane. Die Lieferung beinhaltet allerdings zu viel unnötige Früchte. Verwende jetzt alle bisher gelernten Operatoren <code class="help" [appTooltip]="skipTooltip">skip</code>, <code class="help" [appTooltip]="takeTooltip">take</code> und <code class="help" [appTooltip]="mapTooltip">map</code> nacheinander in der Pipe-Funktion.</p>
</div>
<div *ngIf="currentLanguage === 'en'">
    <p>An excessive delivery!</p>
    <p>You just want a banana. However, the delivery contains too much unnecessary fruit. Now use all operators that have been learned so far <code class="help" [appTooltip]="skipTooltip">skip</code>, <code class="help" [appTooltip]="takeTooltip">take</code> and <code class="help" [appTooltip]="mapTooltip">map</code> one after the other in the pipe function.</p>
</div>
<div *ngIf="currentLanguage === 'zh_CN'">
    <p>水果运送过多！</p>
    <p>你只想要一根香蕉。然而，在水果运送中还包含过多不必要的水果。在 pipe 函数中使用到目前为止已掌握的所有运算符 <code class="help" [appTooltip]="skipTooltip">skip</code>， <code class="help" [appTooltip]="takeTooltip">take</code> 和 <code class="help" [appTooltip]="mapTooltip">map</code> 。</p>
</div>
<div *ngIf="currentLanguage === 'ru'">
  <p>Чрезмерная доставка!</p>
  <p>Вы просто хотите банан. Тем не менее, доставка содержит слишком много ненужных фруктов. Теперь используйте все операторы, которые были изучены до сих пор <code class="help" [appTooltip]="skipTooltip">skip</code>, <code class="help" [appTooltip]="takeTooltip">take</code> и <code class="help" [appTooltip]="mapTooltip">map</code> один за другим в функции конвейера.</p>
</div>
<div *ngIf="currentLanguage === 'es'">
  <p>Una entrega excesiva!</p>
  <p>Tú solo quieres una banana. Sin embargo, la entrega contiene demasiada fruta innecesaria. Ahora use todos los operadores que haya aprendido hasta ahora: <code class="help" [appTooltip]="skipTooltip">skip</code>, <code class="help" [appTooltip]="takeTooltip">take</code> y <code class="help" [appTooltip]="mapTooltip">map</code> uno tras otro en una función pipe.</p>
</div>
<div #skipTooltip class="tooltip codeTooltip">
    <pre>
        <code [highlight]="skipCode"></code>
    </pre>
</div>
<div #takeTooltip class="tooltip codeTooltip">
    <pre>
        <code [highlight]="takeCode"></code>
    </pre>
</div>
<div #mapTooltip class="tooltip codeTooltip">
    <pre>
        <code [highlight]="mapCode"></code>
    </pre>
</div>
