<h3>{{'EXERCISES.EXERCISETITLE' | translate }}: {{exerciseTitle}}</h3>

<div *ngIf="currentLanguage === 'de'">
    <p>Viel zu wenig!</p>
    <p>Die Lieferung hat uns wirklich nur einen Apfel gebracht. Das Rezept gibt uns aber vor das wir drei Äpfel
        brauchen. In dieser Notlage behilft uns der <code class="help" [appTooltip]="tooltip">repeat</code>-Operator. Er
        wiederholt das Observable mit der angegeben Anzahl. 
        <a href="https://rxjs.dev/api/operators/repeat" target="_blank">(Mehr Infos zu repeat)</a>
    </p>
</div>
<div *ngIf="currentLanguage === 'en'">
    <p>Much too little!</p>
    <p>The delivery really only brought us an apple. The recipe gives us three apples need. In this emergency, the <code class="help" [appTooltip]="tooltip">repeat</code> operator helps us. He repeats the observable with the specified number. 
        <a href="https://rxjs.dev/api/operators/repeat" target="_blank">(Learn more about repeat)</a>
    </p>
</div>
<div #tooltip class="tooltip codeTooltip">
    <pre>
        <code [highlight]="repeatCode"></code>
    </pre>
</div>