<div fxLayout (click)="closeTooltipWrapper()">
    <div class="task" fxFlex="60%">
        <div fxLayout fxLayoutAlign="space-between">
            <div fyLayout>
                <img class="logo" src="assets/Rx_Logo_S.png" alt="RxJS Logo">
                <h1 class="title">RxJS-fruits</h1>
            </div>
            <div id="level-counter">
                <span class="arrow left" [ngClass]="previousLevelStyle()" (click)="previousExercise()">◀</span>
                <span id="level-indicator" (click)="toggleLevelsWrapper()">
                    <span id="labelLevel">Level </span>
                    <span>{{ levelService.currentLevel.number }}</span>
                    <span>{{ 'APP.LABELLEVEL' | translate }}</span>
                    <span>{{ levelService.levels.length }}</span>
                    <span class="caret">▾</span>
                </span>
                <span class="arrow right" [ngClass]="nextLevelStyle()" (click)="nextExercise(false)">▶</span>
                <div id="levelsWrapper" class="tooltip" *ngIf="isLevelsWrapperOpen">
                    <div id="levels">
                        <span *ngFor="let level of levelService.levels; let i = index;" class="level-marker"
                            [ngClass]="levelStateStyle(level)" [title]="level.title"
                            (click)="goToExercise(level)">{{ level.number }}</span>

                        <div id="labelReset" (click)="resetAllStates()">{{ 'APP.LABELRESET' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>

        <router-outlet class="instructions"></router-outlet>

        <div fxLayout style="height: 50%;">
            <div class="recipe" [ngClass]="recipeAnimationStyle()"
                *ngIf="'EXERCISES.' + levelService.currentLevel.title + '.RECIPEDESCRIPTION' | uppercase | translate">
                <h3>🧾 {{ 'APP.RECIPETITLE' | translate }}</h3>
                <p
                    [innerHTML]="'EXERCISES.' + levelService.currentLevel.title + '.RECIPEDESCRIPTION' | uppercase | translate">
                </p>

                <ol>
                    <li *ngFor="let fruitName of currentExercise.expectedFruits; let i = index;">
                        {{ 'APP.FRUITS.' + fruitName | uppercase | translate }} {{ assertFruitPipeIcon(i) }}
                    </li>
                </ol>

                <p id="isToMuchFruits" *ngIf="isToMuchFruits">{{ 'APP.ISTOMUCHFRUITS' | translate }}</p>
                <p id="isNoFruitsIncoming" *ngIf="isNoFruitsIncoming">{{'APP.ISNOFRUITSINCOMING' | translate}}</p>
                <p id="isToLittleFruits" *ngIf="isToLittleFruits">{{'APP.ISTOLITTLEFRUITS' | translate}}</p>
                <p id="isNoActivateSubscribe" *ngIf="isNoActivateSubscribe">{{'APP.ISNOACTIVATESUBSCRIBE' | translate}}
                </p>
            </div>
            <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
        </div>
        <div fyLayout fxLayoutAlign="end">
            <button id="cancelButton" *ngIf="isRunActive" (click)="cancel()">{{ 'APP.CANCELBUTTON' | translate }}
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24">
                    <g>
                        <path id="path1" transform="rotate(0,12,12) translate(0,0) scale(0.75,0.75)  " fill="#FFF5F5"
                            d="M9.9000245,6.000003L6.0000001,9.8999988 12.100037,16.000007 6.0000001,22.100002 9.9000245,25.999997 16,19.900018 22.100037,25.999997 26,22.100002 19.900024,16.000007 26,9.8999988 22.100037,6.000003 16,12.099997z M16,0C24.799988,0 32,7.2000005 32,16.000007 32,24.800016 24.799988,32.000001 16,32.000001 7.2000123,32.000001 8.3946347E-08,24.800016 0,16.000007 8.3946347E-08,7.2000005 7.2000123,0 16,0z" />
                    </g>
                </svg>
            </button>
            <button id="startButton" *ngIf="!isRunActive" (click)="run()"
                [disabled]="isCheatingDetected">{{ 'APP.STARTBUTTON' | translate }}
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24">
                    <g>
                        <path transform="rotate(0,12,12) translate(0,0) scale(0.75,0.75)" fill="#FFF5F5"
                            d="M12.5,9.2999878L22,16 12.5,22.700012z M16,3.1000061C8.9000244,3.1000061 3.1000061,8.8999939 3.1000061,16 3.1000061,23.100006 8.9000244,28.899994 16,28.899994 23.100037,28.899994 28.900024,23.100006 28.900024,16 28.900024,8.8999939 23.100037,3.1000061 16,3.1000061z M16,0C24.799988,0 32,7.2000122 32,16 32,24.799988 24.799988,32 16,32 7.2000122,32 0,24.799988 0,16 0,7.2000122 7.2000122,0 16,0z" />
                    </g>
                </svg>
            </button>
            <button id="nextButton" [ngClass]="buttonAnimationStyle()" [disabled]="!isNextExerciseAviable"
                (click)="nextExercise(true)">{{ 'APP.NEXTBUTTON' | translate }}</button>
        </div>
        <div class="credits" fxLayout="row" fxLayoutAlign="center">
            <span [innerHTML]="'APP.CREDITS' | translate"></span>
            <span id="language">
                <span class="toggle" (click)="toggleLanguageOptions()">{{ translate.currentLang | language }}</span>
                <span class="tooltip" style="display: block;" *ngIf="isLanguageOptionsOpen">
                    <span class="language-marker" *ngFor="let language of translate.getLangs()"
                        (click)="changeLanguage(language)">
                        {{ language | language }}
                    </span>
                </span>
            </span>
            <span class="small-button">
                <a class="link" routerLink="/privacy" target="_blank">{{'APP.PRIVACYBUTTON' | translate}}</a>
            </span>
        </div>
    </div>
    <div class="board" fxFlex="40%">
        <div class="board__elements">
            <img class="sound-icon" [src]="soundIconPath" alt="sound-icon" (click)="changeSound()">
            <img [id]="imageSource.id" *ngFor="let imageSource of fruits" [src]="imageSource.url"
                (appInit)="startFruitAnimation(imageSource.id)">

            <object #conveyorbelt id="conveyor-belt" data="assets/conveyor-belt.svg" type="image/svg+xml"></object>
            <object class="element element--liquid" #liquid id="liquid" data="assets/liquid.svg"
                type="image/svg+xml"></object>
            <object class="element element--funnel" #funnel id="funnel" data="assets/funnel.svg"
                type="image/svg+xml"></object>
            <object class="element element--bottle" #bottle id="bottle" data="assets/bottle.svg"
                type="image/svg+xml"></object>
        </div>

        <div fyLayout fxLayoutAlign="center center" *ngIf="isErrorInConsole">
            <div class="output">
                {{ 'APP.OUTPUT' | translate }}
            </div>
        </div>
        <div id="cheating-detected" fyLayout fxLayoutAlign="center center" *ngIf="isCheatingDetected">
            <img src="assets/images/anti-cheat/no-no.gif" alt="no cheating please" />
        </div>
    </div>
</div>
<app-cookie-banner></app-cookie-banner>