<div fxLayout>
  <div class="task" fxFlex="60%">
      <h3>Task: {{task}}</h3>
      <p class="instructions">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consectetur, hic eum blanditiis provident dignissimos earum cum magni nesciunt repellat ex sapiente a quaerat, reiciendis debitis! Fugiat quod quibusdam velit.</p>
      <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
      <button (click)="run()">OK</button>
  </div>
  <div class="board" fxFlex="40%">
      <img [id]="imageSource.id" *ngFor="let imageSource of fruits" [src]="imageSource.url" (appInit)="startFruitAnimation(imageSource.id)">
      
      <object #conveyorbelt id="conveyor-belt" data="assets/conveyor-belt.svg" type="image/svg+xml" (appInit)="startConveyorBeltAnimation()"></object>
  </div>
</div>