ngx-monaco-editor {
  width: 70%;
  height: 100%;
}

.instructions {
  margin-left: 40px;
  margin-right: 10px;
}

.task {
  z-index: 1;
  background-color: #0b7c99;
  padding: 2em;
}

.board {
  background-color: #384b64;
  height: 100vh;
  width: 50vw;
  display: inline-block;
  position: relative;
}

.board > :first-child ~ * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#conveyor-belt {
  width: 60vw;
  height: 5vw;
  left: -25vw;
  top: 10vh;
  position: absolute;
}

img[src="assets/Fruit-Apple.svg"] {
  width: 10%;
  top: 5vh;
}

img[src="assets/Fruit-Cherry.svg"] {
  width: 5%;
  top: 4.5vh;
}

img[src="assets/Fruit-Banana.svg"] {
  width: 8%;
  top: 2.8vh;
}

.title {
  margin: 0.5rem 10px 0;
  font-size: 30px;
  display: inline;
}

.logo {
  width: 20%;
  vertical-align: bottom;
}

// button animations
.nextButtonAnimation {
  animation: tada 1s, pulse 2s infinite 2s;
}

// button

button {
  display: inline-block;
  padding: 0.4em 2em;
  margin-top: 0.5em;
  margin-left: 0.5em;
  background-color: #82267b;
  border: none;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
}

button:active {
  outline: none;
}

button:not(.disabled):hover {
  background-color: rgb(87, 26, 82);
}

button[disabled] {
  opacity: 0.5;
}

// LEVEL INDICATOR

#level-counter {
  position: relative;
  display: inline-block;
  height: 30px;
  margin-top: 0.5rem;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#level-indicator,
.arrow {
  float: left;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.2);
}

#level-indicator {
  display: inline-block;
  width: 160px;
  line-height: 30px;
  text-align: center;
  padding: 0.25em 0.4em 0em;
  cursor: pointer;
}

#level-indicator:hover,
.arrow:not(.disabled):hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#labelLevel {
  margin-left: 5px;
}

.caret {
  display: inline-block;
  margin-left: 2px;
}

#labelReset {
  margin-top: 1em;
  text-align: center;
  cursor: pointer;
}

.arrow {
  display: inline-block;
  font-family: "Comic Sans MS";
  padding: 0.25em 0.4em 0em;
  cursor: pointer;
}

.arrow.left {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px 0 0 4px;
}

.arrow.right {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0 4px 4px 0;
}

.arrow.left:not(.disabled):hover,
.arrow.right:not(.disabled):hover {
  border-color: transparent;
}

.arrow.disabled {
  opacity: 0.5;
}

#levelsWrapper {
  top: 34px;
  right: 25px;
  max-width: 160px;
  padding: 1em 0.5em;
  margin-top: 12px;
  z-index: 80;
}

#levelsWrapper:after {
  left: calc(50% - 12px);
}

.tooltip {
  position: absolute;
  display: inline-block;
  padding: 0 1em 1em;
  background-color: #2c3e50;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  z-index: 60;
}

.tooltip:after {
  content: "";
  position: absolute;
  top: -12px;
  left: 12px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #2c3e50;
}

#levels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#labelReset {
  margin-top: 1em;
  text-align: center;
  cursor: pointer;
}

.level-marker {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 2px;
  line-height: 26px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.level-marker.current,
.level-marker:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.level-marker.solved {
  background-color: #228b24;
  background-color: #5da449;
}

.recipe {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 14px;
  width: 30%;
  overflow: auto;
}

code.help {
  padding: 0 2px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.codeTooltip {
  visibility: collapse;
  padding: 1em 0.5em;
}

a {
  color: rgba(255, 255, 255, 0.7);
}

a:hover {
  color: #fff;
}

.output {
  background-color: black;
  color: red;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  width: 50%;
  text-align: center;
}

.credits {
  margin-top: 1.5em;
  line-height: 1.5em;
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}

#language {
  position: relative;
  margin-left: 10px;
}

#language .toggle {
  display: inline-block;
  padding: 1px 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  user-select: none;
}

#language .toggle:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#language .tooltip {
  display: none;
  bottom: 30px;
  left: 0px;
  width: 200px;
  padding: 1em;
  z-index: 80;
}

#language .tooltip:after {
  top: auto;
  bottom: -12px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #2c3e50;
  border-bottom: none;
}

#language .tooltip a {
  padding: 0 2px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
}

#language .tooltip a:hover {
  color: #fff;
}

.language-marker {
  width: 30px;
  height: 30px;
  margin: 2px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
}

.language-marker.current,
.language-marker:hover {
  color: white;
  text-decoration: underline;
}