<h3>{{'EXERCISES.EXERCISETITLE' | translate }}: {{exerciseTitle}}</h3>

<div *ngIf="currentLanguage === 'de'">
    <p>Gib dem Chaos keine Chance!</p>
    <p>Du hast zwei Lieferungen bekommen. Entnehme nur verwendbare Früchte mit dem <code class="help" [appTooltip]="skipLastTooltip">skipLast</code>- und <code class="help" [appTooltip]="skipTooltip">skip</code>-Operator. Ersetze dann das leere (Empty) Observable mit der <code class="help" [appTooltip]="mergeTooltip">merge</code>-Funktion. Gegen Ende bereinige die dreckigen (dirty) Früchte und lege sie auf das Fließband.</p>
</div>
<div *ngIf="currentLanguage === 'en'">
    <p>Don't give chaos a chance!</p>
    <p>You received two deliveries. Take only usable fruit with the <code class="help" [appTooltip]="skipLastTooltip">skipLast</code> and <code class="help" [appTooltip]="skipTooltip">skip</code> operator. Then replace the empty observable with the <code class="help" [appTooltip]="mergeTooltip">merge</code> function. Towards the end, clean up the dirty fruits and place them on the conveyor belt.</p>
</div>
<div *ngIf="currentLanguage === 'zh_CN'">
    <p>不要把水果搞混乱了！</p>
    <p>你有两个供货商。使用 <code class="help" [appTooltip]="skipLastTooltip">skipLast</code> 和 <code class="help" [appTooltip]="skipTooltip">skip</code> 操作符，只取可用的水果。然后用 <code class="help" [appTooltip]="mergeTooltip">merge</code> 操作符替换 empty observable。最后，把不干净的水果清理干净，再放到传送带上。</p>
</div>
<div *ngIf="currentLanguage === 'ru'">
  <p>Не дай хаосу шанс! </p>
  <p>Вы получили две поставки. Возьмите только полезные фрукты с оператором <code class="help" [appTooltip]="skipLastTooltip"> skipLast </code> и <code class="help" [appTooltip]="skipTooltip"> skip </code>. Затем замените пустую наблюдаемую функцию <code class="help" [appTooltip]="mergeTooltip"> merge </code>. Под конец уберите грязные фрукты и положите их на конвейер.</p>
</div>
<div #skipTooltip class="tooltip codeTooltip">
    <pre>
        <code [highlight]="skipCode"></code>
    </pre>
</div>
<div #skipLastTooltip class="tooltip codeTooltip">
    <pre>
        <code [highlight]="skipLastCode"></code>
    </pre>
</div>
<div #mergeTooltip class="tooltip codeTooltip">
    <pre>
        <code [highlight]="mergeCode"></code>
    </pre>
</div>
