<h3>{{'EXERCISES.EXERCISETITLE' | translate }}: {{task}}</h3>

<div *ngIf="currentLanguage === 'de'">
    <p>Igitt! Hier sind alte Früchte geliefert worden.</p>
    <p>Nutze den <code class="help" [appTooltip]="tooltip">filter</code> Operator um nur frische Früchte auf das Fließband zu legen.
        <a href="https://rxjs.dev/api/operators/filter" target="_blank">(Mehr Infos zum filter)</a></p>
</div>
<div *ngIf="currentLanguage === 'en'">
    <p>Yuck! Old fruit has been delivered here.</p>
    <p>Use the <code class="help" [appTooltip]="tooltip">filter</code> operator to put only fresh fruit on the conveyor belt.
        <a href="https://rxjs.dev/api/operators/filter" target="_blank">(Learn more about the filter)</a></p>
</div>
<div *ngIf="currentLanguage === 'zh_CN'">
    <p>糟了，不新鲜的水果已经运到这里了。</p>
    <p>使用 <code class="help" [appTooltip]="tooltip">filter</code> 操作符，只将新鲜水果放到传送带上。
        <a href="https://rxjs.dev/api/operators/filter" target="_blank">（了解关于 filter 操作符的更多信息）</a></p>
</div>
<div *ngIf="currentLanguage === 'ru'">
  <p>Тьфу! Старый фрукт был доставлен сюда.</p>
  <p>Используйте оператор <code class="help" [appTooltip]="tooltip">filter</code>, чтобы положить на конвейер только свежие фрукты.
    <a href="https://rxjs.dev/api/operators/filter" target="_blank">(Подробнее о filter)</a></p>
</div>
<div #tooltip class="tooltip codeTooltip">
    <pre>
        <code [highlight]="filterCode"></code>
    </pre>
</div>
