<div class="privacy">
    <div fxLayout>
        <img class="logo" src="assets/Rx_Logo_S.png" alt="RxJS Logo">
        <h1 class="title">RxJS-fruits</h1>
    </div>
    <div *ngIf="currentLanguage === 'de'">
        <h1>Datenschutzerkl&auml;rung</h1>
        <h2>1. Datenschutz auf einen Blick</h2>
        <h3>Allgemeine Hinweise</h3>
        <p>Die folgenden Hinweise geben einen einfachen &Uuml;berblick dar&uuml;ber, was mit Ihren personenbezogenen
            Daten
            passiert, wenn Sie diese Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie
            pers&ouml;nlich
            identifiziert werden k&ouml;nnen. Ausf&uuml;hrliche Informationen zum Thema Datenschutz entnehmen Sie
            unserer
            unter diesem Text aufgef&uuml;hrten Datenschutzerkl&auml;rung.</p>
        <h3>Datenerfassung auf dieser Website</h3>
        <p><strong>Wer ist verantwortlich f&uuml;r die Datenerfassung auf dieser Website?</strong></p>
        <p>Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Die Kontakt E-Mail Adresse
            lautet: gregor.biswanger@web-enliven.de.</p>
        <p><strong>Wie erfassen wir Ihre Daten?</strong></p>
        <p>Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z.&nbsp;B. um
            Daten handeln, die Sie in ein Kontaktformular eingeben.</p>
        <p>Andere Daten werden automatisch oder nach Ihrer Einwilligung beim Besuch der Website durch unsere IT-Systeme
            erfasst. Das sind vor allem technische Daten (z.&nbsp;B. Internetbrowser, Betriebssystem oder Uhrzeit des
            Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie diese Website betreten.</p>
        <p><strong>Wof&uuml;r nutzen wir Ihre Daten?</strong></p>
        <p>Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gew&auml;hrleisten. Andere
            Daten k&ouml;nnen zur Analyse Ihres Nutzerverhaltens verwendet werden.</p>
        <p><strong>Welche Rechte haben Sie bez&uuml;glich Ihrer Daten?</strong></p>
        <p>Sie haben jederzeit das Recht, unentgeltlich Auskunft &uuml;ber Herkunft, Empf&auml;nger und Zweck Ihrer
            gespeicherten personenbezogenen Daten zu erhalten. Sie haben au&szlig;erdem ein Recht, die Berichtigung oder
            L&ouml;schung dieser Daten zu verlangen. Wenn Sie eine Einwilligung zur Datenverarbeitung erteilt haben,
            k&ouml;nnen Sie diese Einwilligung jederzeit f&uuml;r die Zukunft widerrufen. Au&szlig;erdem haben Sie das
            Recht, unter bestimmten Umst&auml;nden die Einschr&auml;nkung der Verarbeitung Ihrer personenbezogenen Daten
            zu
            verlangen. Des Weiteren steht Ihnen ein Beschwerderecht bei der zust&auml;ndigen Aufsichtsbeh&ouml;rde zu.
        </p>
        <p>Hierzu sowie zu weiteren Fragen zum Thema Datenschutz k&ouml;nnen Sie sich jederzeit unter der im Impressum
            angegebenen Adresse an uns wenden.</p>
        <h3>Analyse-Tools und Tools von Drittanbietern</h3>
        <p>Beim Besuch dieser Website kann Ihr Surf-Verhalten statistisch ausgewertet werden. Das geschieht vor allem
            mit
            Cookies und mit sogenannten Analyseprogrammen.</p>
        <p>Detaillierte Informationen zu diesen Analyseprogrammen finden Sie in der folgenden Datenschutzerkl&auml;rung.
        </p>
        <h2>2. Hosting und Content Delivery Networks (CDN)</h2>
        <h3>Externes Hosting</h3>
        <p>Die Seite wird auf GitHub-Pages gehostet. GitHub Pages ist ein Dienst von GitHub Inc. (88 Colin P. Kelly Jr.
            St. San Francisco, CA 94107, USA).
            Die personenbezogenen Daten, die auf dieser Website erfasst werden, werden auf den Servern des Hosters
            gespeichert. Hierbei kann es sich v. a. um
            IP-Adressen, Kontaktanfragen, Meta- und Kommunikationsdaten, Vertragsdaten, Kontaktdaten, Namen,
            Webseitenzugriffe und sonstige Daten, die &uuml;ber eine Website generiert werden, handeln.</p>
        <p>Der Einsatz des Hosters erfolgt zum Zwecke der Vertragserf&uuml;llung gegen&uuml;ber unseren potenziellen und
            bestehenden Kunden (Art. 6 Abs. 1 lit. b DSGVO) und im Interesse einer sicheren, schnellen und effizienten
            Bereitstellung unseres Online-Angebots durch einen professionellen Anbieter (Art. 6 Abs. 1 lit. f DSGVO).
        </p>
        <p>Unser Hoster wird Ihre Daten nur insoweit verarbeiten, wie dies zur Erf&uuml;llung seiner Leistungspflichten
            erforderlich ist und unsere Weisungen in Bezug auf diese Daten befolgen.</p>
        <h2>3. Allgemeine Hinweise und Pflichtinformationen</h2>
        <h3>Datenschutz</h3>
        <p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer pers&ouml;nlichen Daten sehr ernst. Wir behandeln Ihre
            personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
            Datenschutzerkl&auml;rung.</p>
        <p>Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben. Personenbezogene Daten
            sind
            Daten, mit denen Sie pers&ouml;nlich identifiziert werden k&ouml;nnen. Die vorliegende
            Datenschutzerkl&auml;rung
            erl&auml;utert, welche Daten wir erheben und wof&uuml;r wir sie nutzen. Sie erl&auml;utert auch, wie und zu
            welchem Zweck das geschieht.</p>
        <p>Wir weisen darauf hin, dass die Daten&uuml;bertragung im Internet (z.&nbsp;B. bei der Kommunikation per
            E-Mail)
            Sicherheitsl&uuml;cken aufweisen kann. Ein l&uuml;ckenloser Schutz der Daten vor dem Zugriff durch Dritte
            ist
            nicht m&ouml;glich.</p>
        <h3>Hinweis zur verantwortlichen Stelle</h3>
        <p>Die verantwortliche Stelle f&uuml;r die Datenverarbeitung auf dieser Website ist:</p>
        <p>Gregor Biswanger<br />
            Konrad-St&ouml;r Str. 17<br />
            90455 N&uuml;rnberg</p>

        <p>E-Mail: gregor.biswanger@web-enliven.de</p>
        <p>Verantwortliche Stelle ist die nat&uuml;rliche oder juristische Person, die allein oder gemeinsam mit anderen
            &uuml;ber die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.&nbsp;B. Namen,
            E-Mail-Adressen
            o. &Auml;.) entscheidet.</p>
        <h3>Externe Links</h3>
        <p>Diese Website enthält Links zu externen Websites mit unterschiedlichen Datenschutzbestimmungen. Wir übernehmen keine Verantwortung für die Richtigkeit, Rechtmäßigkeit oder den Inhalt der externen Website oder für die nachfolgenden Links. Wenden Sie sich an die externe Website, um Antworten auf Fragen zum Inhalt zu erhalten.</p>
        <h3>Widerruf Ihrer Einwilligung zur Datenverarbeitung</h3>
        <p>Viele Datenverarbeitungsvorg&auml;nge sind nur mit Ihrer ausdr&uuml;cklichen Einwilligung m&ouml;glich. Sie
            k&ouml;nnen eine bereits erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung
            per
            E-Mail an uns. Die Rechtm&auml;&szlig;igkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom
            Widerruf unber&uuml;hrt.</p>
        <h3>Widerspruchsrecht gegen die Datenerhebung in besonderen F&auml;llen sowie gegen Direktwerbung (Art. 21
            DSGVO)
        </h3>
        <p>WENN DIE DATENVERARBEITUNG AUF GRUNDLAGE VON ART. 6 ABS. 1 LIT. E ODER F DSGVO ERFOLGT, HABEN SIE JEDERZEIT
            DAS
            RECHT, AUS GR&Uuml;NDEN, DIE SICH AUS IHRER BESONDEREN SITUATION ERGEBEN, GEGEN DIE VERARBEITUNG IHRER
            PERSONENBEZOGENEN DATEN WIDERSPRUCH EINZULEGEN; DIES GILT AUCH F&Uuml;R EIN AUF DIESE BESTIMMUNGEN
            GEST&Uuml;TZTES PROFILING. DIE JEWEILIGE RECHTSGRUNDLAGE, AUF DENEN EINE VERARBEITUNG BERUHT, ENTNEHMEN SIE
            DIESER DATENSCHUTZERKL&Auml;RUNG. WENN SIE WIDERSPRUCH EINLEGEN, WERDEN WIR IHRE BETROFFENEN
            PERSONENBEZOGENEN
            DATEN NICHT MEHR VERARBEITEN, ES SEI DENN, WIR K&Ouml;NNEN ZWINGENDE SCHUTZW&Uuml;RDIGE GR&Uuml;NDE F&Uuml;R
            DIE
            VERARBEITUNG NACHWEISEN, DIE IHRE INTERESSEN, RECHTE UND FREIHEITEN &Uuml;BERWIEGEN ODER DIE VERARBEITUNG
            DIENT
            DER GELTENDMACHUNG, AUS&Uuml;BUNG ODER VERTEIDIGUNG VON RECHTSANSPR&Uuml;CHEN (WIDERSPRUCH NACH ART. 21 ABS.
            1
            DSGVO).</p>
        <p>WERDEN IHRE PERSONENBEZOGENEN DATEN VERARBEITET, UM DIREKTWERBUNG ZU BETREIBEN, SO HABEN SIE DAS RECHT,
            JEDERZEIT
            WIDERSPRUCH GEGEN DIE VERARBEITUNG SIE BETREFFENDER PERSONENBEZOGENER DATEN ZUM ZWECKE DERARTIGER WERBUNG
            EINZULEGEN; DIES GILT AUCH F&Uuml;R DAS PROFILING, SOWEIT ES MIT SOLCHER DIREKTWERBUNG IN VERBINDUNG STEHT.
            WENN
            SIE WIDERSPRECHEN, WERDEN IHRE PERSONENBEZOGENEN DATEN ANSCHLIESSEND NICHT MEHR ZUM ZWECKE DER DIREKTWERBUNG
            VERWENDET (WIDERSPRUCH NACH ART. 21 ABS. 2 DSGVO).</p>
        <h3>Beschwerderecht bei der zust&auml;ndigen Aufsichtsbeh&ouml;rde</h3>
        <p>Im Falle von Verst&ouml;&szlig;en gegen die DSGVO steht den Betroffenen ein Beschwerderecht bei einer
            Aufsichtsbeh&ouml;rde, insbesondere in dem Mitgliedstaat ihres gew&ouml;hnlichen Aufenthalts, ihres
            Arbeitsplatzes oder des Orts des mutma&szlig;lichen Versto&szlig;es zu. Das Beschwerderecht besteht
            unbeschadet
            anderweitiger verwaltungsrechtlicher oder gerichtlicher Rechtsbehelfe.</p>
        <h3>Recht auf Daten&uuml;bertragbarkeit</h3>
        <p>Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erf&uuml;llung eines Vertrags
            automatisiert verarbeiten, an sich oder an einen Dritten in einem g&auml;ngigen, maschinenlesbaren Format
            aush&auml;ndigen zu lassen. Sofern Sie die direkte &Uuml;bertragung der Daten an einen anderen
            Verantwortlichen
            verlangen, erfolgt dies nur, soweit es technisch machbar ist.</p>
        <h3>SSL- bzw. TLS-Verschl&uuml;sselung</h3>
        <p>Diese Seite nutzt aus Sicherheitsgr&uuml;nden und zum Schutz der &Uuml;bertragung vertraulicher Inhalte, wie
            zum
            Beispiel Bestellungen oder Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL- bzw.
            TLS-Verschl&uuml;sselung. Eine verschl&uuml;sselte Verbindung erkennen Sie daran, dass die Adresszeile des
            Browsers von &bdquo;http://&ldquo; auf &bdquo;https://&ldquo; wechselt und an dem Schloss-Symbol in Ihrer
            Browserzeile.</p>
        <p>Wenn die SSL- bzw. TLS-Verschl&uuml;sselung aktiviert ist, k&ouml;nnen die Daten, die Sie an uns
            &uuml;bermitteln, nicht von Dritten mitgelesen werden.</p>
        <h3>Auskunft, L&ouml;schung und Berichtigung</h3>
        <p>Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft
            &uuml;ber Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empf&auml;nger und den Zweck der
            Datenverarbeitung und ggf. ein Recht auf Berichtigung oder L&ouml;schung dieser Daten. Hierzu sowie zu
            weiteren
            Fragen zum Thema personenbezogene Daten k&ouml;nnen Sie sich jederzeit unter der im Impressum angegebenen
            Adresse an uns wenden.</p>
        <h3>Recht auf Einschr&auml;nkung der Verarbeitung</h3>
        <p>Sie haben das Recht, die Einschr&auml;nkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
            Hierzu
            k&ouml;nnen Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Das Recht auf
            Einschr&auml;nkung der Verarbeitung besteht in folgenden F&auml;llen:</p>
        <ul>
            <li>Wenn Sie die Richtigkeit Ihrer bei uns gespeicherten personenbezogenen Daten bestreiten, ben&ouml;tigen
                wir
                in der Regel Zeit, um dies zu &uuml;berpr&uuml;fen. F&uuml;r die Dauer der Pr&uuml;fung haben Sie das
                Recht,
                die Einschr&auml;nkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.</li>
            <li>Wenn die Verarbeitung Ihrer personenbezogenen Daten unrechtm&auml;&szlig;ig geschah/geschieht,
                k&ouml;nnen
                Sie statt der L&ouml;schung die Einschr&auml;nkung der Datenverarbeitung verlangen.</li>
            <li>Wenn wir Ihre personenbezogenen Daten nicht mehr ben&ouml;tigen, Sie sie jedoch zur Aus&uuml;bung,
                Verteidigung oder Geltendmachung von Rechtsanspr&uuml;chen ben&ouml;tigen, haben Sie das Recht, statt
                der
                L&ouml;schung die Einschr&auml;nkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.</li>
            <li>Wenn Sie einen Widerspruch nach Art. 21 Abs. 1 DSGVO eingelegt haben, muss eine Abw&auml;gung zwischen
                Ihren
                und unseren Interessen vorgenommen werden. Solange noch nicht feststeht, wessen Interessen
                &uuml;berwiegen,
                haben Sie das Recht, die Einschr&auml;nkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
            </li>
        </ul>
        <p>Wenn Sie die Verarbeitung Ihrer personenbezogenen Daten eingeschr&auml;nkt haben, d&uuml;rfen diese Daten
            &ndash;
            von ihrer Speicherung abgesehen &ndash; nur mit Ihrer Einwilligung oder zur Geltendmachung, Aus&uuml;bung
            oder
            Verteidigung von Rechtsanspr&uuml;chen oder zum Schutz der Rechte einer anderen nat&uuml;rlichen oder
            juristischen Person oder aus Gr&uuml;nden eines wichtigen &ouml;ffentlichen Interesses der Europ&auml;ischen
            Union oder eines Mitgliedstaats verarbeitet werden.</p>
        <h2>4. Soziale Medien</h2>
        <h3>Facebook Plugins (Like &amp; Share-Button)</h3>
        <p>Auf dieser Website sind Plugins des sozialen Netzwerks Facebook integriert. Anbieter dieses Dienstes ist die
            Facebook Ireland Limited, 4 Grand Canal Square, Dublin 2, Irland. Die erfassten Daten werden nach Aussage
            von
            Facebook jedoch auch in die USA und in andere Drittl&auml;nder &uuml;bertragen.</p>
        <p>Die Facebook Plugins erkennen Sie an dem Facebook-Logo oder dem &bdquo;Like-Button&ldquo;
            (&bdquo;Gef&auml;llt
            mir&ldquo;) auf dieser Website. Eine &Uuml;bersicht &uuml;ber die Facebook Plugins finden Sie hier: <a
                href="https://developers.facebook.com/docs/plugins/?locale=de_DE" target="_blank"
                rel="noopener noreferrer">https://developers.facebook.com/docs/plugins/?locale=de_DE</a>.</p>
        <p>Wenn Sie diese Website besuchen, wird &uuml;ber das Plugin eine direkte Verbindung zwischen Ihrem Browser und
            dem
            Facebook-Server hergestellt. Facebook erh&auml;lt dadurch die Information, dass Sie mit Ihrer IP-Adresse
            diese
            Website besucht haben. Wenn Sie den Facebook &bdquo;Like-Button&ldquo; anklicken w&auml;hrend Sie in Ihrem
            Facebook-Account eingeloggt sind, k&ouml;nnen Sie die Inhalte dieser Website auf Ihrem Facebook-Profil
            verlinken. Dadurch kann Facebook den Besuch dieser Website Ihrem Benutzerkonto zuordnen. Wir weisen darauf
            hin,
            dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der &uuml;bermittelten Daten sowie deren Nutzung
            durch Facebook erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerkl&auml;rung von
            Facebook
            unter: <a href="https://de-de.facebook.com/privacy/explanation" target="_blank"
                rel="noopener noreferrer">https://de-de.facebook.com/privacy/explanation</a>.</p>
        <p>Wenn Sie nicht w&uuml;nschen, dass Facebook den Besuch dieser Website Ihrem Facebook-Nutzerkonto zuordnen
            kann,
            loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus.</p>
        <p>Die Verwendung der Facebook Plugins erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der
            Websitebetreiber
            hat ein berechtigtes Interesse an einer m&ouml;glichst umfangreichen Sichtbarkeit in den Sozialen Medien.
            Sofern
            eine entsprechende Einwilligung abgefragt wurde, erfolgt die Verarbeitung ausschlie&szlig;lich auf Grundlage
            von
            Art. 6 Abs. 1 lit. a DSGVO; die Einwilligung ist jederzeit widerrufbar.</p>
        <h3>Twitter Plugin</h3>
        <p>Auf dieser Website sind Funktionen des Dienstes Twitter eingebunden. Diese Funktionen werden angeboten durch
            die
            Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103, USA. Durch das Benutzen von Twitter
            und
            der Funktion &bdquo;Re-Tweet&ldquo; werden die von Ihnen besuchten Websites mit Ihrem Twitter-Account
            verkn&uuml;pft und anderen Nutzern bekannt gegeben. Dabei werden auch Daten an Twitter &uuml;bertragen. Wir
            weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der &uuml;bermittelten Daten
            sowie
            deren Nutzung durch Twitter erhalten. Weitere Informationen hierzu finden Sie in der
            Datenschutzerkl&auml;rung
            von Twitter unter: <a href="https://twitter.com/de/privacy" target="_blank"
                rel="noopener noreferrer">https://twitter.com/de/privacy</a>.</p>
        <p>Die Verwendung des Twitter-Plugins erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Websitebetreiber
            hat
            ein berechtigtes Interesse an einer m&ouml;glichst umfangreichen Sichtbarkeit in den Sozialen Medien. Sofern
            eine entsprechende Einwilligung abgefragt wurde, erfolgt die Verarbeitung ausschlie&szlig;lich auf Grundlage
            von
            Art. 6 Abs. 1 lit. a DSGVO; die Einwilligung ist jederzeit widerrufbar.</p>
        <p>Ihre Datenschutzeinstellungen bei Twitter k&ouml;nnen Sie in den Konto-Einstellungen unter <a
                href="https://twitter.com/account/settings" target="_blank"
                rel="noopener noreferrer">https://twitter.com/account/settings</a> &auml;ndern.</p>
        <h2>5. Plugins und Tools</h2>
        <h3>Google Web Fonts</h3>
        <p>Diese Seite nutzt zur einheitlichen Darstellung von Schriftarten so genannte Web Fonts, die von Google
            bereitgestellt werden. Beim Aufruf einer Seite l&auml;dt Ihr Browser die ben&ouml;tigten Web Fonts in ihren
            Browsercache, um Texte und Schriftarten korrekt anzuzeigen.</p>
        <p>Zu diesem Zweck muss der von Ihnen verwendete Browser Verbindung zu den Servern von Google aufnehmen.
            Hierdurch
            erlangt Google Kenntnis dar&uuml;ber, dass &uuml;ber Ihre IP-Adresse diese Website aufgerufen wurde. Die
            Nutzung
            von Google WebFonts erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Webseitenbetreiber hat ein
            berechtigtes Interesse an der einheitlichen Darstellung des Schriftbildes auf seiner Webseite. Sofern eine
            entsprechende Einwilligung abgefragt wurde (z. B. eine Einwilligung zur Speicherung von Cookies), erfolgt
            die
            Verarbeitung ausschlie&szlig;lich auf Grundlage von Art. 6 Abs. 1 lit. a DSGVO; die Einwilligung ist
            jederzeit
            widerrufbar.</p>
        <p>Wenn Ihr Browser Web Fonts nicht unterst&uuml;tzt, wird eine Standardschrift von Ihrem Computer genutzt.</p>
        <p>Weitere Informationen zu Google Web Fonts finden Sie unter <a href="https://developers.google.com/fonts/faq"
                target="_blank" rel="noopener noreferrer">https://developers.google.com/fonts/faq</a> und in der
            Datenschutzerkl&auml;rung von Google: <a href="https://policies.google.com/privacy?hl=de" target="_blank"
                rel="noopener noreferrer">https://policies.google.com/privacy?hl=de</a>.</p>
        <h3>Google Analytics</h3>
        <p>Nur wenn Sie das Tracking akzeptieren: Verwenden wir Google Analytics, um Besucher zu zählen und den Verkehr
            auf dieser Website zu analysieren (mit IP-Anonymisierung).</p>
    </div>
    <div *ngIf="currentLanguage === 'en'">
        <h1>Data protection</h1>
        <h2>1. Data protection at a glance</h2>
        <h3>General information</h3>
        <p>The following information provides a simple overview of what happens to your personal data when you visit this website. Personal data are all data with which you can be personally identified. You can find detailed information on the subject of data protection in our data protection declaration below this text.</p>
        <h3>Data collection on this website</h3>
        <p><strong>Who is responsible for data collection on this website?</strong></p>
        <p>The data processing on this website is carried out by the website operator. The contact email address is: gregor.biswanger@web-enliven.de.</p>
        <p><strong>How do we collect your data?</strong></p>
        <p>On the one hand, your data is collected by you communicating it to us. This can be, for. For example, it is data that you enter in a contact form.</p>
        <p>Other data is automatically collected by our IT systems or with your consent when you visit the website. This is primarily technical data (e.g. internet browser, operating system or time of the page visit). This data is recorded automatically as soon as you enter this website.</p>
        <p><strong>What do we use your data for?</strong></p>
        <p>Part of the data is collected to ensure that the website is provided correctly. Other data can be used to analyze your user behavior.</p>
        <p><strong>What rights do you have regarding your data?</strong></p>
        <p>You have the right to receive information about the origin, recipient and purpose of your stored personal data free of charge at any time. You also have the right to request that this data be corrected or deleted. If you have given your consent to data processing, you can revoke this consent at any time for the future. You also have the right to request that the processing of your personal data be restricted in certain circumstances. You also have the right to lodge a complaint with the responsible supervisory authority.</p>
        <p>You can contact us at any time at the address given in the imprint if you have any further questions about data protection.</p>
        <h3>Analysis tools and third party tools</h3>
        <p>When you visit this website, your surfing behavior can be statistically evaluated. This is done primarily with cookies and with so-called analysis programs.</p>
        <p>Detailed information on these analysis programs can be found in the following data protection declaration.</p>
        <h2>2. Hosting and Content Delivery Networks (CDN)</h2>
        <h3>External hosting</h3>
        <p>The site is hosted on GitHub pages. GitHub Pages is a service of GitHub Inc. (88 Colin P. Kelly Jr. St. San Francisco, CA 94107, USA). The personal data collected on this website is stored on the hoster's servers. This can v. a. are IP addresses, contact requests, meta and communication data, contract data, contact details, names, website access and other data that are generated via a website.</p>
        <p>The host is used for the purpose of fulfilling the contract with our potential and existing customers (Art. 6 Para. 1 lit. b GDPR) and in the interest of a safe, fast and efficient provision of our online offer by a professional provider (Art. 6 Para 1 lit.f GDPR).</p>
        <p>Our hoster will only process your data to the extent necessary to fulfill its performance obligations and to follow our instructions in relation to this data.</p>
        <h2>3. General information and mandatory information</h2>
        <h3>Privacy</h3>
        <p>The operators of these pages take the protection of your personal data very seriously. We treat your personal data confidentially and in accordance with the statutory data protection regulations and this data protection declaration.</p>
        <p>When you use this website, various personal data are collected. Personal data is data with which you can be personally identified. This data protection declaration explains what data we collect and what we use it for. It also explains how and for what purpose this is done.</p>
        <p>We would like to point out that data transmission over the Internet (e.g. when communicating by email) can have security gaps. It is not possible to completely protect data from third-party access.</p>
        <h3>Information about the responsible body</h3>
        <p>The responsible body for data processing on this website is:</p>
        <p>Gregor Biswanger<br />
            Konrad-St&ouml;r Str. 17<br />
            90455 Nuremberg - Germany</p>

        <p>E-Mail: gregor.biswanger@web-enliven.de</p>
        <p>The responsible body is the natural or legal person who, alone or together with others, decides on the purposes and means of processing personal data (e.g. names, e-mail addresses, etc.).</p>
        <h3>External links</h3>
        <p>This website contains links to external websites with different data protection regulations. We accept no responsibility for the correctness, legality or content of the external website or for the links below. Contact the external website for answers to questions about the content.</p>
        <h3>Revocation of your consent to data processing</h3>
        <p>Many data processing operations are only possible with your express consent. You can withdraw your consent at any time. An informal notification by email to us is sufficient. The legality of the data processing carried out before the revocation remains unaffected by the revocation.</p>
        <h3>Right to object to data collection in special cases and direct advertising (Art. 21 GDPR)</h3>
        <p>IF DATA PROCESSING IS BASED ON ART. 6 ABS. 1 LIT. E OR F GDPR, YOU HAVE THE RIGHT TO OBJECT TO THE PROCESSING OF YOUR PERSONAL DATA AT ANY TIME FOR REASONS FOR YOUR SPECIAL SITUATION; THIS ALSO APPLIES TO PROFILING BASED ON THESE PROVISIONS. THE RELEVANT LEGAL BASIS ON WHICH PROCESSING IS BASED IS TAKEN FROM THIS PRIVACY STATEMENT. IF YOU SUBJECT, WE WILL NO LESS PROCESS YOUR PERSONAL DATA, UNLESS WE CAN PROVIDE OBLIGATORY PROTECTIVE REASONS FOR THE PROCESSING THAT PROVIDES YOUR INTERESTS, RIGHTS AND DISCLAIMER, AND THE PROTECTED PROPERTY OPPOSITION UNDER ART. 21 (1) GDPR).</p>
        <p>IF YOUR PERSONAL DATA IS PROCESSED TO OPERATE DIRECT ADVERTISING, YOU HAVE THE RIGHT TO OBJECT AT ANY TIME TO PROCESS YOUR PERSONAL DATA FOR THE PURPOSE OF SUCH ADVERTISING; THIS IS ALSO APPLICABLE TO PROFILING, AS FAR AS IT IS CONNECTED WITH SUCH DIRECT ADVERTISING. IF YOU OBJECT, YOUR PERSONAL DATA WILL NO LONGER BE USED FOR THE PURPOSE OF DIRECT ADVERTISING (OBLIGATION UNDER ART. 21 (2) GDPR).</p>
        <h3>Beschwerderecht bei der zust&auml;ndigen Aufsichtsbeh&ouml;rde</h3>
        <p>Right to lodge a complaint with the competent supervisory authority
            In the event of violations of the GDPR, the data subject has the right to lodge a complaint with a supervisory authority, in particular in the member state of their habitual residence, their place of work or the place of the alleged violation. The right to lodge a complaint is without prejudice to other administrative or judicial remedies.</p>
        <h3>Right to data portability</h3>
        <p>You have the right to have data that we process automatically based on your consent or in fulfillment of a contract handed over to you or to a third party in a common, machine-readable format. If you request the direct transfer of the data to another person responsible, this will only take place if it is technically feasible.</p>
        <h3>SSL or TLS encryption</h3>
        <p>For security reasons and to protect the transmission of confidential content, such as orders or inquiries that you send to us as the website operator, this page uses SSL or TLS encryption. You can recognize an encrypted connection by the fact that the address line of the browser changes from "http: //" to "https: //" and by the lock symbol in your browser line.</p>
        <p>If SSL or TLS encryption is activated, the data that you transmit to us cannot be read by third parties.</p>
        <h3>Information, deletion and correction</h3>
        <p>Within the framework of the applicable legal provisions, you have the right to free information about your stored personal data, its origin and recipient and the purpose of data processing and, if necessary, the right to have this data corrected or deleted. You can contact us at any time at the address given in the imprint if you have any further questions on the subject of personal data.</p>
        <h3>Right to restriction of processing</h3>
        <p>You have the right to request that the processing of your personal data be restricted. You can contact us at any time at the address given in the imprint. The right to restrict processing exists in the following cases:</p>
        <ul>
            <li>If you contest the accuracy of your personal data stored by us, we usually need time to check this. For the duration of the examination, you have the right to request that the processing of your personal data be restricted.</li>
            <li>If the processing of your personal data happened / happens unlawfully, you can request the restriction of the data processing instead of the deletion.</li>
            <li>If we no longer need your personal data, but you need it to exercise, defend or assert legal claims, you have the right to request that the processing of your personal data be restricted instead of being deleted.</li>
            <li>If you have filed an objection in accordance with Art. 21 Para. 1 GDPR, you and our interests must be weighed up. As long as it is not clear whose interests outweigh the rights, you have the right to request that the processing of your personal data be restricted.</li>
        </ul>
        <p>If you have restricted the processing of your personal data, this data - apart from its storage - may only be obtained with your consent or to assert, exercise or defend legal claims or to protect the rights of another natural or legal person or for reasons of important public interest the European Union or a Member State.</p>
        <h2>4. Social media</h2>
        <h3>Facebook plugins (Like & Share button)</h3>
        <p>Plugins from the social network Facebook are integrated on this website. This service is provided by Facebook Ireland Limited, 4 Grand Canal Square, Dublin 2, Ireland. According to Facebook, however, the data collected is also transferred to the USA and other third countries.</p>
        <p>You can recognize the Facebook plugins by the Facebook logo or the “Like” button on this website. An overview of the Facebook plugins can be found here: <a href="https://developers.facebook.com/docs/plugins/?locale=en_EN" target="_blank" rel="noopener noreferrer">https://developers.facebook.com/docs/plugins/?locale=de_DE</a>.</p>
        <p>When you visit this website, the plugin establishes a direct connection between your browser and the Facebook server. Facebook receives the information that you have visited this website with your IP address. If you click the Facebook "Like" button while you are logged into your Facebook account, you can link the content of this website to your Facebook profile. This enables Facebook to associate your visit to this website with your user account. We would like to point out that, as the provider of the website, we have no knowledge of the content of the data transmitted or how it is used by Facebook. You can find further information on this in Facebook's data protection declaration at:
             <a href="https://en-us.facebook.com/privacy/explanation" target="_blank" rel="noopener noreferrer">https://en-en.facebook.com/privacy/explanation</a>.</p>
        <p>If you do not want Facebook to be able to assign your visit to this website to your Facebook user account, please log out of your Facebook user account.</p>
        <p>The Facebook plugins are used on the basis of Art. 6 Para. 1 lit. f GDPR. The website operator has a legitimate interest in the greatest possible visibility in social media. If a corresponding consent has been requested, the processing takes place exclusively on the basis of Art. 6 Para. 1 lit. a GDPR; the consent can be revoked at any time.</p>
        <h3>Twitter plugin</h3>
        <p>Functions of the Twitter service are integrated on this website. These functions are offered by Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103, USA. By using Twitter and the "Re-Tweet" function, the websites you visit are linked to your Twitter account and made known to other users. This data is also transmitted to Twitter. We would like to point out that, as the provider of the website, we have no knowledge of the content of the data transmitted or how it is used by Twitter. Further information can be found in Twitter's data protection declaration at:
             <a href="https://twitter.com/en/privacy" target="_blank" rel="noopener noreferrer">https://twitter.com/en/privacy</a>.</p>
        <p>The Twitter plug-in is used on the basis of Art. 6 Para. 1 lit. f GDPR. The website operator has a legitimate interest in the greatest possible visibility in social media. If a corresponding consent has been requested, the processing takes place exclusively on the basis of Art. 6 Para. 1 lit. a GDPR; the consent can be revoked at any time.</p>
        <p>You can change your data protection settings on Twitter in the account settings at <a href="https://twitter.com/account/settings" target="_blank" rel="noopener noreferrer">https://twitter.com/account/settings</a> change.</p>
        <h2>5. Plugins and tools</h2>
        <h3>Google Web Fonts</h3>
        <p>This page uses so-called web fonts provided by Google for the uniform display of fonts. When you call up a page, your browser loads the required web fonts into your browser cache in order to display texts and fonts correctly.</p>
        <p>For this purpose, the browser you are using must connect to the Google servers. This gives Google knowledge that this website was accessed via your IP address. Google WebFonts are used on the basis of Art. 6 Para. 1 lit. f GDPR. The website operator has a legitimate interest in the uniform representation of the typeface on his website. If a corresponding consent has been requested (e.g. consent to the storage of cookies), the processing takes place exclusively on the basis of Art. 6 Para. 1 lit. a GDPR; the consent can be revoked at any time.</p>
        <p>If your browser does not support web fonts, a standard font will be used by your computer.</p>
        <p>Further information about Google Web Fonts can be found at  <a href="https://developers.google.com/fonts/faq" target="_blank" rel="noopener noreferrer">https://developers.google.com/fonts/faq</a> and in Google's data protection declaration:
             <a href="https://policies.google.com/privacy?hl=en" target="_blank" rel="noopener noreferrer">https://policies.google.com/privacy?hl=en</a>.</p>
        <h3>Google Analytics</h3>
        <p>Only if you accept the tracking: We use Google Analytics to count visitors and analyze the traffic on this website (with IP anonymization).</p>
    </div>
</div>
<app-cookie-banner showBanner="true"></app-cookie-banner>