.title {
    margin: 0.5rem 10px 0;
    font-size: 30px;
    display: inline;
    vertical-align: middle;
}

.logo {
    width: 5%;
    vertical-align: bottom;
}

.privacy {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
}