/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import '~highlight.js/styles/vs2015.css';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #0b7c99;
}

.myInlineDecoration {
	color: gray !important;
	cursor: not-allowed;
}